@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto&display=swap");

// font-family: "Poppins", sans-serif;
// font-family: "Nunito Sans", sans-serif;
// font-family: "Fira Sans Condensed", sans-serif;
// font-family: "Roboto", sans-serif;
body {
	font-family: "Be Vietnam Pro", sans-serif;
	color: #cbd5e1;
}
html {
	font-size: 20px;
}

input,
textarea {
	padding: 0 0.3rem;
}

button {
	font-size: inherit;
	font-weight: 400;
}
